/* font-family: 'Bitter', serif;
font-family: 'Montserrat', sans-serif; */

html {
  font-size: 20px;
}
body{
  width: 700px;
  margin: 30px auto;
  background-color: #da8ee7;
  color: #1C0038;
  font-family: 'Bitter', serif;
}
nav {
  color: #2B2B2B;
  background-color: #E4BDFF;
  padding: 2rem;
}
nav a {
  color: #2F0E49;
}
a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
section {
  background-color: #BF66FF;
  padding: 2rem;
}
h1 {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 700;
  font-style: bold;
}
h2 {
  font-family: 'Monsterrat', sans-serif;
  font-weight: 500;
  font-style: italic;
}
ul, li {
  list-style-type: none;
}
