/* font-family: 'Bitter', serif;
font-family: 'Quicksand', sans-serif; */

html {
  font-size: 20px;
}

body{
  width: 700px;
  margin: 30px auto;
  background-color: #da8ee7;
  color: #1C0038;
  font-family: 'Bitter', serif;
}
h1, {
  font-family: 'Quicksand', sans-serif;
}
h2{
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-style: italic;
}
ul, li {
  list-style-type: none;
}
a {
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
}
